.rs-menu ul.nav-menu li.menu-item-has-children > a:before {
  content: "" !important;
}

.breadcrumbs-img-gradient {
  background: linear-gradient(45deg, blue, red);
  height: 10rem;
}

pre.prettyprint {
  padding: 2px;
  border: none;
  background: #eee;
  padding: 10px;
  position: relative;
}
pre.prettyprint:before {
  content: "";
  position: absolute;
  width: 3px;
  left: 0;
  top: 0;
  height: 100%;
  background: #1c91ca;
}
pre.prettyprint table {
  border: 1px solid #aaa;
  border-collapse: collapsed;
}
pre.prettyprint table td {
  border: 1px solid #aaa;
}